<header>
    <div class="container">
       <div class="row">
          <div class="col-md-9 col-sm-9 col-lg-9 col-xl-9">
             <div class="logo">
                <a href="/" title="logo"><img src="../../../assets/images/logo.png" alt="logo" style="width:100px"/></a>
             </div>
             <div class="mob-menu">
                <span>
                   <i class="fa fa-bars"></i>
                </span>
             </div>
          </div>
          <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 text-right welcome-text" >Welcome Kiran</div>
       </div>
    </div>
 </header>
